*{
    font-family: 'Source Code Pro', monospace;

}

.navbar{
    width:100%;
    height:80px;
    background: #738CA2;
}

.navbar a{
    font-size:1.5rem;
    font-weight: bold;
    font-weight:400;
    color: whitesmoke;
}

.logout{
   margin-left:450px;

}
.navbar-right button{
    color:#738CA2;
    font-weight: bold;
    font-size: 1.3rem;
    font-weight:400;
}

.navbar-nav li{
    margin-left:20px;
    margin-right: 20px;
}

.navbar a:hover{
    background: #fff;
    color:#738CA2;
    border: 1px solid #738CA2;
    border-radius: 1rem;
}

.navbar-right button:hover{

    background: #738CA2;
    color:#fff;
    border: 1px solid #fff;
}
.search{
    margin-left:30px;
    
}
.search-input{
    float:left;
    width: 200px;
}
.search-button{
    float:right;
    
    margin-left: 10px;
    width:100px;
}

.search-button button{
    color: #738CA2;
    background: whitesmoke;
    font-size: 1.1rem;
    font-weight:400;
    font-weight: bold;
    border: 1px solid #738CA2;
}
.search-button button:hover{
    background: #738CA2;
    color:#fff;
    border: 1px solid #fff;;
}



#save-blog{
    font-family: 'Source Code Pro', monospace;

    width:100px;
    height: 50px;
    font-size:20px;
    border-radius: 1rem;
}

.blogPost{
    padding:30px;
    background:grey;
    margin:20px;
}