*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

nav{
    padding:10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Poppins", sans-serif;
    background-color: #738CA2;
}
.logo{
    color:whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width:30%;
}

.nav-links a{
    color:whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    
}

.nav-links li{
    list-style:none;
}

.burger{
    display: none;
}

.burger div{
    width:25px;
    height:3px;
    background: whitesmoke;
    margin:5px;
}


@media screen and (max-width:1024px)
{
    .nav-links{
        width:60%;
    }
}

@media screen and (max-width:768px)
{
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        background:#738CA2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }   

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);

    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
   opacity:0; 
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);

}
#save-blog{
    font-family: 'Source Code Pro', monospace;

    width:100px;
    height: 50px;
    font-size:20px;
    border-radius: 1rem;
}

.blogPost{
    padding:30px;
    background:grey;
    margin:20px;
}